$selected-menu-color: #13856C;
$document-background : #FCFEFC;
$page-background: #BBB2A3;
$button-color: #DCCEAC;
$menu-color: #1F1C1E;
$layout-font-color: #FCFEFC;



.appLayout {
  .site-layout{
    background-color: $document-background;
    background-color: black;
  }
  
}



.customlayout {
  .sider {
    background-color: $menu-color;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0px;
    .menuContainer {
      background-color: transparent;
      .ant-menu-item.ant-menu-item-selected{
        background-color: $selected-menu-color; /*Overriden property*/
      }
    }
  }
  
}
.site-layout {
  style {
    background-color: $menu-color;
  }
}
