$selected-menu-color: #13856C;
$document-background : #FCFEFC;
$page-background: #BBB2A3;
$button-color: #DCCEAC;
$menu-color: #1F1C1E;
$layout-font-color: #FCFEFC;

.adminSider {
  background-color: $menu-color;
}

.appLayout {
  .site-layout{
    background-color: $document-background;
    background-color: black;
  }
  
}

.customlayout {
  & > *{
    background-color: $menu-color;
  }
  
}
.site-layout {
  style {
    background-color: $menu-color;
  }
}
