@import './app.scss';



.appLayout {
  .pageLayout{
    background-color: $document-background;
    background-color: black;
  }
}



.customlayout {
  .sider {
    // background-color: $menu-color;
    background-image: $sider-background;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0px;
    .menuContainer {
      background-color: transparent;
      .item{
        &:hover{
          background-color: $selected-menu-color;
        }
      }
      
    }
  }
  
}
.site-layout {
  style {
    background-color: $menu-color;
  }
}
