$selected-menu-color: #13856C;
$document-background : #FCFEFC;
$page-background: #BBB2A3;
$button-color: #DCCEAC;
$menu-color: #1F1C1E;
$layout-font-color: #FCFEFC;

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background: $selected-menu-color;
}