@import './app.scss';

.userProfile{
  background-color: $menu-color;
  border: 0px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .profileMeta{
    padding-left: 1px;
  }
  .profileName{
    color: $layout-font-color;
  }
  .profileButton{
    margin: 0px;
    background-color: $button-color;
  }
  
}